a {
  color: #fff;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.card {
  background-color: #d3d3d3d2 !important;
  border-color: #8e05f0 !important;
  margin-left: 10px;
  margin-right: 10px;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}
#posicionamento-relativo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  flex-direction: column;
  background-color: #8e05f0 !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

#button {
  display: flex;
  justify-content: space-evenly;
}

#posicionamento-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 2%;
}

#buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 0.5%;
}

#rangeSlider {
  color: #fff;
}

#slider {
  color: #fff;
  background-color: #000000 !important;
  border-color: #80448b;
  margin-bottom: 10px;
}

.footer p {
  margin-top: 20px;
  margin-bottom: 20px;
}
